.landfour-about-container{
    height:100vh;
    background-image: url("../assets/images/lightBackground.jpg");
    background-size: cover;
    background-position: center;
}

.landfour-about-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.landfour-aboutus-logo{
    object-fit: contain;
    width:20%;
    height:auto;
}

.about-description{
    font-weight: 500;
    margin-top: 4%;
    font-family: italic;
}

.landfour-about-subcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:5% 10%;
}


.story-description{
    margin-top:5%;
    max-width: 700px;
}


.landfour-about-storycontainer{
    display: flex;
    align-items: center;
    margin:5% 10%;
    justify-content: space-around;
}

.story-title{
    margin-left: 10%;
}

.story-description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

@media (max-width:600px){
    .landfour-about-storycontainer{
        flex-direction: column;
    }
    .story-description{
        max-width:350px;
    }
    .landfour-aboutus-logo{
        all:unset;
        width:50%;
        object-fit: contain;
    }
    .landfour-about-container{
        height:120vh;
    }
    .about-description{
        margin-top: 15%;
    }

    .landfour-chef-logo{
        margin-top: 20%;
    }
}