.landfour-contact-maincontainer{
    background-color: #002423;
    color:bisque;
    display: flex;
    justify-content: space-around;
    height:20vh;
    flex-wrap: wrap;
}

.landfour-socialMediaContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
}

.landfour-importantlinks-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.landfour-socialMediaLogosContainer{
    display: flex;
    gap:20px;
    margin-top: 20%;
}

.landfour-socialMedia-logo-item{
    cursor: pointer;
}

.landfour-whoarewe-container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-top: 1%;
}

.landfour-whoarewe-description{
    margin-top: 4%;
}

@media(max-width:1000px){
    .landfour-whoarewe-title{
        text-align: center;
    }

    .landfour-whoarewe-description{
        text-align: center;
        font-size: 12px;
    }
}

@media(max-width:1000px) and (orientation:landscape){
    .landfour-contact-maincontainer{
        margin-top: 50%;
        height: 25vh;
    }
}

